# nm-applet
nm-applet --indicator &

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# add local binaries
export PATH=$HOME/.local/bin:/usr/local/bin:$PATH

# Faster key repeat and delay
#xset r rate 210 35
#xset r rate 200 40
xset r rate 200 45

# Open flameshot on startup
# flameshot &

# Faster scrolling 
imwheel &

# Transparency
# picom &

# Save your eyes
# redshift & 
# redshift-gtk & 

# Not sure if needed
export LANG=de_DE.UTF-8

export EDITOR="vim"
export TERMINAL="gnome-terminal"
export BROWSER="brave"

# monitor layout
# xrandr --auto --output DVI-D-0 --mode 2560x1440 --right-of DP-0
